/* ==> RESET ===== ===== ===== ===== */
body,
p,
h1,
ul,
li,
blockquote {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: 'Vollkorn', Georgia, serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  border-radius: 5px;
}
/* *** RESET ===== ===== ===== ===== */

/* ==> LAYOUT GRID ===== ===== ===== ===== */
.structure {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 3fr 300px;
  grid-template-areas:
    'header header header'
    'sidenav content advert'
    'footer footer footer';
}
/* *** LAYOUT GRID ===== ===== ===== ===== */

/* ==> HEADER ===== ===== ===== ===== */
.header {
  grid-area: header;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  padding: 1.875rem;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
.logo {
  max-width: 200px;
}
.header nav ul {
  display: flex;
  flex-wrap: wrap;
}
.header li + li {
  margin-left: 1.875rem;
}
.header nav a {
  display: block;
  padding: 0.625rem;
  color: #fff;
  font-size: 1.125rem;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: 0.1s;
}
.header nav a:hover {
  background: rgba(0, 0, 0, 0.5);
}
/* *** HEADER ===== ===== ===== ===== */

/* ==> SIDENAV ===== ===== ===== ===== */
.sidenav {
  grid-area: sidenav;
  background: #fafbfc;
  padding: 1.875rem;
}
.sidenav li a {
  display: block;
  min-width: 3.75rem;
  max-width: 6.25rem;
  margin: 0 auto 1.875rem auto;
  background: #fff;
  padding: 1.25rem;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0 rgba(44, 44, 44, 0.15);
  transition: 0.1s ease-out;
}
.sidenav li a:hover {
  background: #b07dfb;
}
/* *** SIDENAV ===== ===== ===== ===== */

/* ==> MAIN ===== ===== ===== ===== */
/* ==> MAIN LAYOUT GRID ===== ===== ===== ===== */
.content {
  grid-area: content;
  max-width: 56.25rem;
  margin: 0 auto;
  padding: 1.875rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.875rem;
}
.col-wide {
  grid-column: 1 / -1;
}
.image1 {
  grid-row: span 2;
  align-self: end;
}
.image2 {
  align-self: end;
}
/* *** MAIN LAYOUT GRID ===== ===== ===== ===== */
/* ==> MAIN STYLES ===== ===== ===== ===== */
.title {
  color: #b07dfb;
}
.title span {
  font-size: 0.875rem;
  font-style: italic;
}
.title h1 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
}
p {
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: -0.005rem;
  color: rgba(0, 0, 0, 0.7);
}
.info p + p {
  margin-top: 1.875rem;
}
.feature {
  display: flex;
  align-items: flex-start;
}
.feature > div {
  width: 5rem;
  text-align: center;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0 rgba(44, 44, 44, 0.15);
  position: relative;
}
.feature > div:first-child {
  margin-right: 1.875rem;
}
.feature span {
  display: block;
  color: #b07dfb;
}
.number {
  font-size: 3rem;
  line-height: 1;
  margin: 0.625rem auto;
}
.label {
  background: #fff;
  border-radius: 0 0 5px 5px;
  padding: 0.3125rem 0;
  position: relative;
  top: 2px;
}
.contrast {
  font-size: 0.875rem;
  color: #b07dfb;
  max-width: 16rem;
}
.cite,
.atributes {
  align-self: start;
  padding: 1.875rem;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  background: linear-gradient(135deg, #8844ee, #b07dfb);
}
.cite p {
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;
  padding: 1.875rem;
  color: #fff;
  max-width: 31.25rem;
  margin: 0 auto;
}
.atributes li {
  color: #fff;
  font-family: Courier, monospace;
  font-size: 1.125rem;
  padding: 0.9375rem;
}
.atributes li + li {
  border-top: 2px solid #b07dfb;
}
/* *** MAIN STYLES ===== ===== ===== ===== */
/* *** MAIN ===== ===== ===== ===== */

/* ==> ADVERT ===== ===== ===== ===== */
.advert {
  grid-area: advert;
  background: #fafbfc;
  display: grid;
  align-content: start;
  padding: 1.875rem;
  gap: 1.875rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
/* *** ADVERT ===== ===== ===== ===== */

/* ==> FOOTER ===== ===== ===== ===== */
.footer {
  grid-area: footer;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
}
.footer p {
  color: #fff;
  text-align: center;
  padding: 1.875rem;
}
/* *** FOOTER ===== ===== ===== ===== */

/* ==> RESPONSIVE 1200px ===== ===== ===== ===== */
/* ==> RESPONSIVE LAYOUT GRID ===== ===== ===== ===== */
@media (max-width: 1200px) {
  .structure {
    grid-template-columns: minmax(160px, 1fr) 3fr 300px;
    grid-template-areas:
      'header header header'
      'sidenav content content'
      'sidenav advert advert'
      'footer footer footer';
  }
}
/* *** RESPONSIVE LAYOUT GRID ===== ===== ===== ===== */

/* ==> RESPONSIVE HEADER ===== ===== ===== ===== */
/* *** RESPONSIVE HEADER ===== ===== ===== ===== */

/* ==> RESPONSIVE SIDENAV ===== ===== ===== ===== */
/* *** RESPONSIVE SIDENAV ===== ===== ===== ===== */

/* ==> RESPONSIVE MAIN ===== ===== ===== ===== */
/* ==> RESPONSIVE MAIN LAYOUT GRID ===== ===== ===== ===== */
/* *** RESPONSIVE MAIN LAYOUT GRID ===== ===== ===== ===== */

/* ==> RESPONSIVE MAIN STYLES ===== ===== ===== ===== */
/* *** RESPONSIVE MAIN STYLES ===== ===== ===== ===== */
/* *** RESPONSIVE MAIN ===== ===== ===== ===== */

/* ==> RESPONSIVE ADVERT ===== ===== ===== ===== */
/* *** RESPONSIVE ADVERT ===== ===== ===== ===== */

/* ==> RESPONSIVE FOOTER ===== ===== ===== ===== */
/* *** RESPONSIVE FOOTER ===== ===== ===== ===== */

/* ==> RESPONSIVE ===== ===== ===== ===== */
/* ==> RESPONSIVE ===== ===== ===== ===== */

/* *** RESPONSIVE ===== ===== ===== ===== */

/* ==> RESPONSIVE 760px ===== ===== ===== ===== */
/* ==> RESPONSIVE LAYOUT GRID ===== ===== ===== ===== */
@media (max-width: 760px) {
  .structure {
    grid-template-columns: 100%;
    grid-template-areas:
      'header'
      'sidenav'
      'content'
      'advert'
      'footer';
  }
  /* ==> RESPONSIVE HEADER ===== ===== ===== ===== */
  .header {
    grid-template-columns: auto;
  }
  .logo {
    margin-bottom: 1.25rem;
  }
  .header nav a {
    font-size: 1rem;
  }
  .header li + li {
    margin-left: 0.625rem;
  }
  /* *** RESPONSIVE HEADER ===== ===== ===== ===== */
  /* ==> RESPONSIVE SIDENAV ===== ===== ===== ===== */
  .sidenav {
    position: relative;
    padding: 0 30px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .sidenav::after {
    content: '→';
    position: absolute;
    top: 5px;
    right: 30px;
    color: rgba(0, 0, 0, 0.3);
    animation: seta 0.5s ease-in 0s infinite alternate;
  }
  .sidenav ul {
    display: flex;
  }
  .sidenav li {
    flex: 1 0 60px;
  }
  .sidenav li a {
    margin: 30px 30px 30px 0;
  }
  @keyframes seta {
    from {
      right: 30px;
    }
    to {
      right: 20px;
    }
  }
  /* *** RESPONSIVE SIDENAV ===== ===== ===== ===== */
}
/* *** RESPONSIVE LAYOUT GRID ===== ===== ===== ===== */

/* ==> RESPONSIVE MAIN STYLES ===== ===== ===== ===== */
/* *** RESPONSIVE MAIN STYLES ===== ===== ===== ===== */

/* ==> RESPONSIVE ADVERT ===== ===== ===== ===== */
/* *** RESPONSIVE ADVERT ===== ===== ===== ===== */

/* ==> RESPONSIVE FOOTER ===== ===== ===== ===== */
/* *** RESPONSIVE FOOTER ===== ===== ===== ===== */

/* ==> RESPONSIVE ===== ===== ===== ===== */
/* ==> RESPONSIVE ===== ===== ===== ===== */

/* *** RESPONSIVE ===== ===== ===== ===== */

/* ==> RESPONSIVE 760px ===== ===== ===== ===== */
/* ==> RESPONSIVE MAIN LAYOUT GRID ===== ===== ===== ===== */
@media (max-width: 600px) {
  .content {
    grid-template-columns: auto;
  }
  .content img {
    width: 100%;
  }
}
/* *** RESPONSIVE MAIN LAYOUT GRID ===== ===== ===== ===== */
/* *** RESPONSIVE ===== ===== ===== ===== */
